/*==========================
Google Font
==========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    font-family:'Poppins',sans-serif;
}

body{
    background:#2d2d39;
    color:#fff;
}

/*==========================
HEADER
==========================*/

header{
    width:100%;
    padding:25px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:600;
}

.logo i{
    color:#f3b61f;
    margin-right:8px;
    font-size:13px;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    color:#9d9da7;
    font-size:15px;
    transition:.3s;
}

nav a.active,
nav a:hover{
    color:white;
}

.nav-icons{
    display:flex;
    gap:25px;
}

.nav-icons i{
    color:white;
    cursor:pointer;
    transition:.3s;
}

.nav-icons i:hover{
    color:#f3b61f;
}

/*==========================
HERO
==========================*/

.hero{

    width:100%;
    padding:60px 80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.left{
    width:28%;
}

.left h3{

    color:#bdbdc7;
    font-size:55px;
    font-weight:300;

}

.left h1{

    font-size:70px;
    line-height:80px;
    margin-top:10px;

}

.line{

    width:140px;
    height:5px;
    background:#f3b61f;
    margin:35px 0;

}

.left p{

    color:#bcbcc5;
    line-height:30px;

}

/*==========================
CENTER IMAGE
==========================*/

.middle{

    width:38%;
    display:flex;
    justify-content:center;
    position:relative;

}

.circle{

    width:470px;
    height:470px;
    background:#393947;
    border-radius:50%;
    

}

.middle img{

    position:relative;
    bottom:0;
    width:420px;
    

}

/*==========================
RIGHT
==========================*/

.right{

    width:28%;

}

.right span{

    color:#bcbcc4;
    letter-spacing:2px;

}

.right h2{

    font-size:32px;
    line-height:48px;
    margin:18px 0;

}

.right a{

    color:#f3b61f;
    font-weight:600;

}

.right a i{

    margin-left:10px;

}

.social{

    display:flex;
    gap:18px;
    margin-top:40px;

}

.social i{

    width:42px;
    height:42px;

    border-radius:50%;
    background:#393947;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#f3b61f;

    transition:.3s;
    cursor:pointer;

}

.social i:hover{

    background:#f3b61f;
    color:#222;

}

/*==========================
BRANDS
==========================*/

.brands{

    width:86%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;

    margin-top:40px;

}

.brand{

    background:#3a3a47;
    padding:28px;

    text-align:center;

    font-size:30px;
    font-weight:600;

    color:#ddd;

}

/*==========================
SERVICES
==========================*/

.services{

    width:86%;
    margin:100px auto;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

}

.services-left{

    width:40%;

}

.services-left h2{

    font-size:52px;
    line-height:65px;

}

.services-left p{

    color:#b8b8c1;
    line-height:30px;
    margin:35px 0;

}

.numbers{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.numbers h3{

    color:#f3b61f;
    font-size:38px;

}

.numbers span{

    color:#a8a8b2;

}

/*==========================
RIGHT SERVICES
==========================*/

.services-right{

    width:48%;

}

.service{

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:22px 0;

    border-bottom:1px solid #474757;

}

.service img{

    width:120px;
    height:80px;

    object-fit:cover;

}

.service div{

    flex:1;
    margin-left:25px;

}

.service h3{

    font-size:30px;

}

.service p{

    color:#9b9ba5;
    margin-top:8px;

}

.service i{

    color:#f3b61f;
    font-size:24px;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    gap: 2px;
    height: 299px;
    width: 320px;
    margin: 38px;
    background-color: #393947;
    text-align: center;
    padding: 44px;
}